store-api/.env
store-api/storage/
store-api/node_modules/
store-frontend/node_modules/
helper_json.json
store-api/uploads
config
.env
store-frontend/package-lock.json
store-api/package-lock.json
package-lock.json