server-api/.env
server-api/storage/
node_modules/
server-api/node_modules/
client-ui/node_modules/
helper_json.json
server-api/uploads
config
.env
chaincode.zip
go1.23.0.linux-amd64.tar.gz
/node_modules
general-config.json
fabric-network/wallet
note_pad.txt
server-api/migrations/
tree.txt
.bin/loose-envify
