.login-container {
    display: flex; /* Center the form horizontally */
    justify-content: center;
    align-items: center;
    min-height: 20vh; /* Set minimum height for full viewport */
    background-color: #f0f0f0; /* Background color */
  }
  
  .login-form {
    border: 2px solid #ddd; /* Beautiful border */
    border-radius: 5px; /* Rounded corners */
    padding: 20px;
    background-color: #fff; /* Form background color */
  }
  
  .login-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form label {
    display: block; /* Display labels as blocks */
    margin-bottom: 5px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #222;
  }
  
  .success-message,
.error-message {
  color: red; /* Customize this based on success/error state */
}