.admin-dashboard {
  padding-top: 20px;
  background-color: #f8f9fa; /* Light background for a cleaner look */
}

.admin-task-card {
  border: none; /* Remove border for a modern, clean look */
  background-color: white;
}

.admin-task-card .fa {
  color: #007bff; /* Primary color for icons */
}

.admin-welcome-card {
  background-color: #007bff;
  color: white;
}
